<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    {% comment %} <link rel="stylesheet" href="style.css"> {% endcomment %}
    <style>
      body {
        background-color: #2b2d42;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      a {
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  
  <body>

    {% block body %}
    
    {% endblock body %}

	{% comment %} <script src="index.js"></script> {% endcomment %}
  </body>


</html>